# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/
.eggs/

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
.coverage

# Miscellaneous
.DS_Store
.env
